.App {
  text-align: center;
}

.map-container {
/* 
  display: flex;
  flex-direction: column; */
}

.legend-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.board {
  margin: 10px;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  /* background-color: wheat; */
  background-image: url("../public/floor.jpg");
  background-size: 256px;
}

.square {
  border: black 1px dashed;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 255, 255, 0);
}

.empty {
  background-color: rgb(255, 255, 255, 0);
}

.delete {
  background-color: none;
  z-index: 999999;
  width: 32px;
  height: 32px;
}

.wall {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
  width: 32px;
  height: 32px;
  color: white;
}

.enemy{
  background-image: url("../public/enemy.png");
  z-index: 999999;
  width: 32px;
  height: 32px;
}

.treasure {
  background-image: url("../public/treasure.png");
  width: 32px;
  height: 32px;
  z-index: 999999;
}

.player {
  background-image: url("../public/player.png");
  z-index: 999999;
  width: 32px;
  height: 32px;
}

.exit {
  background-image: url("../public/exit.png");
  z-index: 999999;
  width: 32px;
  height: 32px;
}

.map-item {
  border: black 1px solid;
  margin: 2px;
  width: 32px;
  height: 32px;
}

.selected {
  border: 4px red solid;
}