.App {
  /* text-align: center; */
}

.board {
  width: auto;
  display: inline-flex;
  flex-direction: column;
  /* background-color: wheat; */
  background-image: url("https://i.pinimg.com/originals/af/f3/9b/aff39b42ed16c769660d52368bff149f.jpg");
  background-size: 300px;
}

.square {
  border: grey 1px dashed;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 255, 255, 0);
}

.empty {
  background-color: rgb(255, 255, 255, 0);
}

.delete {
  background-color: none;
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
  color: white;
}

.wall {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
  color: white;
}

.enemy{
  background-color: rgb(26, 224, 0);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
}

.treasure {
  background-color: rgb(0, 81, 187);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
}

.player {
  background-color: rgb(143, 76, 0);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
}

.exit {
  background-color: rgb(255, 67, 246);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
}

.map-item {
  border: black 1px solid;
  width: 32px;
  height: 32px;
}