.App {
  text-align: center;
}


.square {
  border: black 1px solid;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 255, 255, 0);
}

.wall {
  background-color: rgb(46, 46, 46);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
  z-index: 999999;
}

.map-item {
  border: black 1px solid;
  width: 32px;
  height: 32px;
}